---
// src/components/Stats.astro
---

<section
    class="bg-[var(--rosa)] py-24 px-6 lg:px-12 text-white overflow-hidden relative"
>
    <div
        class="absolute inset-0 opacity-5 pointer-events-none serif text-[25vw] left-0 leading-none select-none flex items-center"
    >
        DUAL365
    </div>
    <div
        class="max-w-7xl mx-auto grid grid-cols-2 md:grid-cols-4 gap-16 text-center relative z-10"
    >
        <div class="space-y-4">
            <p class="serif text-8xl leading-none">+50%</p>
            <p
                class="text-sm uppercase font-extrabold tracking-[0.2em] opacity-80"
            >
                Centros públicos de FP del País Vasco ya usan dual365
            </p>
        </div>
        <div class="space-y-4">
            <p class="serif text-8xl leading-none">#1</p>
            <p
                class="text-sm uppercase font-extrabold tracking-[0.2em] opacity-80"
            >
                El País Vasco lidera el modelo DUAL en España
            </p>
        </div>
        <div class="space-y-4">
            <p class="serif text-8xl leading-none">0</p>
            <p
                class="text-sm uppercase font-extrabold tracking-[0.2em] opacity-80"
            >
                Otros softwares específicos para la gestión integral del DUAL
            </p>
        </div>
        <div class="space-y-4">
            <p class="serif text-8xl leading-none">100%</p>
            <p
                class="text-sm uppercase font-extrabold tracking-[0.2em] opacity-80"
            >
                Modalidades DUAL de la nueva Ley de FP cubiertas
            </p>
        </div>
    </div>
</section>
